// Define variables for your color scheme

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$green: #009A49;
$white: #fff;
$orange: #FF7900;
$gray: #000000;
$light-gray: #F4F4F4;

$main: #F4F7F6;
$purple: #8e2de2;
$light-blue: #4A00E0;
$dark-gray: #141414;
$gray: #727272;
$light-gray: #C4C4C4;