// Specific CSS for your home-page
body {
  margin: 0;
  font-family: Open-sans, sans-serif;
  background-color: $white;
}

h1,
h2,
h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}

.text-center {
  color: #333333;
}

.padded {
  padding: 100px 0;
}

.wrapper-grey {
  background: $white;
}