<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p> © 2019 | EireNote </p>
      </div>
      <div class="col-xs-8 text-right">
        <%= link_to "https://www.linkedin.com/in/jackjoconnor", target: "_blank" do%>
           <p>Made with <i class="fas fa-heart"></i>&<i class="fas fa-coffee"></i> by Jack O'Connor</p>
        <% end %>
      </div>
    </div>
  </div>
</footer>