<div class="banner">
  <div class="banner-content">
    <h1><span id="letter-green">Eir</span><span id="letter-white">eN</span><span id="letter-orange">ote</span></h1>
    <p>Discover Ireland. Never lose a memory. Make a note of it.</p>
    <a class="btn btn-success btn-lg">Leave a note</a>
  </div>
</div>

<div class="container text-center padded">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "create.png", alt: "Create a note" %>
      <h2>Create</h2>
      <p>Create a note so you will never forget your trip.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img src="images/read.png" alt="">
      <%= image_tag "read.png", alt: "Read a note" %>
      <h2>Read</h2>
      <p>Read your notes whenever you feel like it.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "keep.png", alt: "Create a note" %>
      <h2>Keep</h2>
      <p>Keep your notes for as long as you want.</p>
    </div>
  </div>
</div>


